/*!------------------------------------------------------------------
[MAIN STYLESHEET]
PROJECT: Project Name
VERSION: Versoin Number
-------------------------------------------------------------------*/

@import "https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700&display=swap";
body {
	line-height: 1.2;
	font-family: raleway, sans-serif;
	-webkit-font-smoothing: antialiased;
	font-size: 15px;
    color:#aaa;
}

p,
.paragraph {
	font-weight: 400;
	color: #aaa;
	font-size: 15px;
	line-height: 1.7;
	font-family: raleway, sans-serif
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #aaa;
	font-family: raleway, sans-serif;
	font-weight: 700;
	line-height: 1.2
}

a.h1,
a.h2,
a.h3,
a.h4,
a.h5,
a.h6 {
	color: #aaa;
}

h1,
.h1 {
	font-size: 45px
}

h2,
.h2 {
	font-size: 36px
}

h3,
.h3 {
	font-size: 28px
}

h4,
.h4 {
	font-size: 22px
}

h5,
.h5 {
	font-size: 18px
}

h6,
.h6 {
	font-size: 16px
}

.btn {
	font-size: 14px;
	font-weight: 500;
	font-family: raleway, sans-serif;
	text-transform: capitalize;
	padding: 10px 15px;
	border-radius: 0;
	border: 1px solid;
	position: relative;
	z-index: 1;
	transition: .2s ease
}

.btn:hover,
.btn:active,
.btn:focus {
	outline: 0;
	box-shadow: 0!important
}

.btn-primary {
	background: #00aaa1;
	color: #fff;
	border-color: #00aaa1
}

.btn-primary:active,
.btn-primary:hover,
.btn-primary.focus,
.btn-primary.active {
	background: #00aaa1!important;
	border-color: #00aaa1!important
}

.btn-outline-primary {
	background: 0 0;
	color: #aaa;
	border-color: #00aaa1
}

.btn-outline-primary:active,
.btn-outline-primary:hover,
.btn-outline-primary.focus,
.btn-outline-primary.active {
	background: #222!important;
	border-color: #00aaa1!important;
	color: #fff
}

body {
	background-color: #2f2f2f;
	overflow-x: hidden
}

::selection {
	background: #00ddd1;
	color: #fff
}

.preloader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #2f2f2f;
	z-index: 9999;
	display: flex;
	align-items: center;
	justify-content: center
}

img {
	vertical-align: middle;
	border: 0
}

a,
a:hover,
a:focus {
	text-decoration: none
}

a.text-primary:hover {
	color: #00aaa1!important
}

a,
button,
select {
	cursor: pointer;
	transition: .2s ease
}

a:focus,
button:focus,
select:focus {
	outline: 0
}

a:hover {
	color: #00aaa1
}

.slick-slide {
	outline: 0
}

.section {
	padding-top: 150px;
	padding-bottom: 150px
}

.section-sm {
	padding-top: 80px;
	padding-bottom: 80px
}

.section-title {
	margin-bottom: 30px
}

.bg-cover {
	background-size: cover;
	background-position: 50%;
	background-repeat: no-repeat
}

.border-primary {
	border-color: #acb9c4!important
}

.overlay {
	position: relative
}

.overlay::before {
	position: absolute;
	content: '';
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background: #000;
	opacity: .5
}

.outline-0 {
	outline: 0!important
}

.d-unset {
	display: unset!important
}

.bg-primary {
	background: #00aaa1!important
}

.text-primary {
	color: #00aaa1!important
}

.text-dark {
	color: #959595!important
}

a.text-dark:hover {
	color: #00aaa1!important
}

.text-light {
	color: #222!important
}

.text-color {
	color: #aaa
}

.mb-10 {
	margin-bottom: 10px!important
}

.mb-20 {
	margin-bottom: 20px!important
}

.mb-30 {
	margin-bottom: 30px!important
}

.mb-40 {
	margin-bottom: 40px!important
}

.mb-50 {
	margin-bottom: 50px!important
}

.mb-60 {
	margin-bottom: 60px!important
}

.mb-70 {
	margin-bottom: 70px!important
}

.mb-80 {
	margin-bottom: 80px!important
}

.mb-90 {
	margin-bottom: 90px!important
}

.mb-100 {
	margin-bottom: 100px!important
}

.zindex-1 {
	z-index: 1
}

.overflow-hidden {
	overflow: hidden
}

.border-primary {
	border-color: #00aaa1!important
}

.font-weight-medium {
	font-weight: 500!important
}

.form-control {
	height: 50px;
	border-radius: 0
}

.form-control:focus {
	box-shadow: none;
	outline: 0;
	border-color: #00aaa1
}

.form-control::placeholder {
	font-size: 13px
}

textarea.form-control {
	height: 150px
}

a.bg-primary:focus,
a.bg-primary:hover,
button.bg-primary:focus,
button.bg-primary:hover {
	background: #00aaa1!important
}

.nav-item {
	margin: 0
}

.nav-item .nav-link {
	text-transform: capitalize
}

.navbar-white .navbar-nav .nav-link,
.navbar-toggler {
    color: #aaa;
}

.navbar-white .navbar-nav .nav-link:hover {
	color: #00aaa1
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 20px;
}

.navbar {
    border-bottom: 1px solid #000 !important;
}

.mobile-view {
	display: none
}

@media(max-width:991px) {
	.mobile-view {
		display: block
	}
}

.desktop-view {
	display: block
}

@media(max-width:991px) {
	.desktop-view {
		display: none
	}
}

.search-btn {
	border: 0;
	background: 0 0;
	border-right: 1px solid #aaa;
	border-left: 1px solid #aaa;
	color: #aaa;
}

.search-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 100%;
	z-index: 2;
	visibility: hidden;
	transition: .2s ease;
	opacity: 0
}

.search-wrapper.open {
	visibility: visible;
	opacity: 1
}

.search-box {
	height: 100%;
	width: 100%;
    border: 0;
	background: #2f2f2f;
	font-size: 20px;
    padding: 0;
    color:#aaa;
}

.search-box:focus {
    border:1px solid #fff;
}

.search-close {
	position: absolute;
	right: 5px;
	top: 50%;
	transform: translateY(-50%);
	border: 0;
	background: 0 0;
	page-break-after: 10px;
	font-size: 20px
}

.card {
	border: 0;
    border-radius: 0;
    background-color: #2f2f2f;
}

.card-header,
.card-footer,
.card-img,
.card-img-top {
	border: 0;
	border-radius: 0
}

.featured-post .card-title {
	margin-left: -10%
}

@media(max-width:767px) {
	.featured-post .card-title {
		margin-left: 0;
		font-size: 30px
	}
}

@media screen and (min-width:600px) {
	.featured-post-slider .slick-dots {
		position: absolute;
		height: 100%;
		right: 0;
		top: 0;
		display: flex;
		flex-direction: column
	}
	.featured-post-slider .slick-dots li {
		flex: 1 1 auto;
		position: relative;
		list-style-type: none
	}
	.featured-post-slider .slick-dots li button {
		position: absolute;
		padding: 0;
		border: 0;
		background: #acb9c4;
		color: transparent;
		overflow: hidden;
		width: 1px;
		height: 100%
	}
	.featured-post-slider .slick-dots li.slick-active button {
		background: #00aaa1;
		width: 5px;
		left: -2px
	}
}

@media screen and (max-width:599px) {
	.featured-post-slider .slick-dots {
		position: absolute;
		height: 5px;
		width: 100%;
		right: 0;
		bottom: -40px;
		display: flex;
		padding: 0
	}
	.featured-post-slider .slick-dots li {
		flex: 1 1 auto;
		position: relative;
		list-style-type: none;
		width: 100%;
		height: 100%
	}
	.featured-post-slider .slick-dots li button {
		position: absolute;
		padding: 0;
		border: 0;
		background: #acb9c4;
		color: transparent;
		overflow: hidden;
		width: 100%;
		height: 1px
	}
	.featured-post-slider .slick-dots li.slick-active button {
		background: #00aaa1;
		top: -2px;
		height: 5px
	}
}

.post-meta span {
	color: #aaa;
	font-weight: 500
}

.recent-post-thumb {
	height: 100px;
	width: 100px;
	border-radius: 50%;
	background-position: 50%;
	background-size: cover;
	background-repeat: no-repeat
}

.small-post-border:not(:last-child) {
	border-right: 1px solid #acb9c4
}

@media(max-width:991px) {
	.small-post-border:not(:last-child) {
		border-right: 0;
		border-bottom: 1px solid #000;
		margin-bottom: 20px;
		padding-bottom: 20px
	}
}

.widget {
	text-align: center;
	margin-bottom: 50px
}

.widget-title {
	display: inline-block;
	border-top: .5px solid #00aaa1;
	border-bottom: .5px solid #00aaa1;
	padding: 10px 0;
	margin-bottom: 20px
}

.widget li {
	margin-bottom: 10px
}

.widget li a {
	color: #666
}

.widget li a:hover {
	color: #00aaa1
}

.social-links li a {
	height: 35px;
	width: 35px;
	background: #00aaa1;
	color: #fff;
	display: block;
	line-height: 35px
}

.social-links li a:hover {
	color: #fff
}

.pagination {
    justify-content: center;
}

.pagination .page-item .page-link {
	display: inline-block;
	width: 40px;
	height: 40px;
	text-align: center;
	color: #00aaa1;
	border-top: 0;
    border-bottom: 0;
    border-color: #000;
    background-color: #2f2f2f;
}

.pagination .page-item .page-link:hover {
	background: #222;
	color: #fff
}

.pagination .page-item:first-child .page-link,
.pagination .page-item:last-child .page-link {
	border-radius: 0
}

.pagination .page-item.active .page-link {
	background: #222;
	color: #666;
	border: 1px solid #00aaa1
}

.author-thumb-sm {
	max-height: 165px;
	max-width: 165px
}

.content * {
	margin-bottom: 20px
}

.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
	margin-bottom: 10px
}

.content ol {
	padding-left: 20px
}

.content ul {
	padding-left: 0
}

.content ul li {
	position: relative;
	padding-left: 20px;
	margin-bottom: 15px;
	list-style-type: none
}

.content ul li::before {
	position: absolute;
	content: "\e71b";
	font-family: themify;
	font-size: 14px;
	left: 0;
	top: 1px;
	color: #00aaa1;
	transition: .3s ease
}

.content table {
	text-align: left;
	width: 100%;
	max-width: 100%;
	margin-bottom: 1rem;
	border: 1px solid #000;
}

.content table th,
.content table td {
	padding: .75rem;
	vertical-align: top;
	border: 1px solid #000;
}

.content table thead {
	background: #3b3b3b;
}

.content table tbody {
	background: #4d4d4d;
}

.content table tbody td {
	text-align: left!important
}

.content blockquote {
	padding: 20px;
	background: #f4fcff;
	border-left: 3px solid #00aaa1
}

.content blockquote p {
	margin-bottom: 0;
	color: #222;
	font-style: italic!important
}

.content pre {
	padding: 10px 20px;
	background: #f4fcff
}

.content pre code {
	border: 0;
	background: 0 0;
	padding: 0
}

.content a {
	color: #00aaa1
}

.content a:hover {
	text-decoration: underline
}

.content code {
	padding: 3px 5px;
	background: #000;
	border: 1px solid #666;
	border-radius: 3px;
	color: #aaa;
}

.content code ul > li,
.content code ol > li {
	padding: 3px 5px;
	background: #000;
	border: 1px solid #666;
	border-radius: 3px;
	color: #aaa;
}

.border-top {
	border-top: 1px solid #000!important;
}

/* Markdown <li> */
.content>ul>li>a:visited,
.content>ol>li>a:visited {
    color:#aaa;
}
.content>ul>li>a:visited:hover, 
.content>ol>li>a:visited:hover {
    color:#fff;
}

.content pre {
	background-color: #3b3b3b;
	color:#aaa;
}

mark {
	background-color: #2f2f2f;
	color:#aaa;
}

h4 a:link {
	color:#000;
}

h4 a:hover {
	color:#00aaa1;
}

h4 a:visited {
	color:#aaa;
}

.alert-info, .alert-info p {
	color:#222;
}